@page
@model IndexModel
@{
    ViewData["Title"] = "Dídac Tarragó López";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    
    <div class="textoPrincipal">
        <div class="imagenDidac">
            <img src="~/imagenes/fotoDidac.png" alt="fotoDidac">
        </div> 
        <h1 class="titulo">@ViewData["Title"]</h1>
        <h2 class="tituloSecundario">Desarrollador de aplicaciones</h2>
        <p>Tengo experiencia en el uso de lenguajes de programación como <strong><span style="color:#80b2d1;">Java</span></strong>, <strong><span style="color:#80b2d1;">Python</span></strong>, <strong><span style="color:#80b2d1;">C </span></strong>y <strong><span style="color:#80b2d1;">Kotlin</span></strong>. También tengo conocimientos en <strong><span style="color:#80b2d1;">bases de datos (SQL)</span></strong> y en el desarrollo de aplicaciones web. Me apasiona resolver problemas complejos y encontrar soluciones eficientes y escalables a los desafíos tecnológicos. Además, estoy constantemente buscando nuevas oportunidades para aprender y mejorar mis habilidades. Me esfuerzo por mantenerme actualizado con las últimas tendencias y tecnologías en el desarrollo de aplicaciones para poder ofrecer soluciones innovadoras y eficientes.</p> 
    </div>
    
</body>

</html>
