@page
@model ProyectosModel
@{
    ViewData["Title"] = "Proyectos principales";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="textoPrincipal">
        <h1 class="titulo">@ViewData["Title"]</h1>
        <h2 class="tituloSecundario">TeToka</h2>
        <p>aaaaaaaa <strong><span style="color:#80b2d1;"></span></strong>.</p>
        <h2 class="tituloSecundario">Control de asistencia</h2>
        <p>aaaaaaaa <strong><span style="color:#80b2d1;"></span></strong>.</p>
        <h2 class="tituloSecundario">Mensajeador</h2>
        <p>aaaaaaaa<strong><span style="color:#80b2d1;"></span></strong> <strong><span style="color:#80b2d1;"></span></strong>.
        </p>
        <button type="submit" class="btn btn-primary" style="background-color: #1f4a64;">Ver otros trabajos</button>
    </div>
</body>

</html>
