@page
@model SkillsModel
@{
    ViewData["Title"] = "Habilidades";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="textoPrincipal">
        <h1 class="titulo">@ViewData["Title"]</h1>
        <h2 class="tituloSecundario">Lenguajes de programación</h2>
        <p>Como apasionado del desarrollo de software, he tenido la oportunidad de trabajar con una variedad de lenguajes, incluyendo <strong><span style="color:#80b2d1;">.NET, Java, Android, C, C#</span></strong>, y demás.
        Estos lenguajes de programación no solo son herramientas en mi caja de herramientas, sino que también son vehículos que me permiten dar vida a ideas innovadoras y solucionar problemas complejos. Ya sea construyendo aplicaciones empresariales con .NET, desarrollando aplicaciones móviles de alta calidad en Java y Android, o diseñando soluciones de bajo nivel en C y C#, mi experiencia en estos lenguajes me ha permitido abordar una amplia gama de desafíos.
        Mi dedicación a la programación se refleja en mi capacidad para adaptarme a nuevas tecnologías y aprender rápidamente, lo que me permite estar al tanto de las últimas tendencias en el mundo del desarrollo de software. Si estás buscando un profesional versátil y apasionado que pueda llevar a cabo tus proyectos de desarrollo con habilidad y precisión, estás en el lugar adecuado. Estoy listo para enfrentar nuevos desafíos y aprovechar al máximo mi experiencia en programación para lograr resultados excepcionales</p>
        <h2 class="tituloSecundario">Bases de datos</h2>
        <p>Mi capacidad para trabajar con diversas tecnologías de bases de datos y adaptarme a los requisitos específicos de cada proyecto me convierte en un recurso confiable para tus necesidades de gestión de datos.
        He trabajado con una variedad de sistemas de gestión de bases de datos, incluyendo <strong><span style="color:#80b2d1;">SQL, MySQL, PostgreSQL y SQLite</span></strong>.
        </p>
        <h2 class="tituloSecundario">Programación y diseño de videojuegos</h2>
        <p>Como desarrollador de videojuegos, he trabajado con C# y la plataforma Unity para crear experiencias de juego envolventes y emocionantes. Desde la programación de mecánicas de juego y la interacción del jugador hasta la creación de mundos virtuales y efectos visuales impresionantes, mi enfoque es ofrecer experiencias de juego memorables y cautivadoras.
        En el ámbito de los videojuegos, he usado <strong><span style="color:#80b2d1;">C#, Unity, Blender</span></strong>, y exploraciones en <strong><span style="color:#80b2d1;">Houdini</span></strong>.
        </p>
    </div>
</body>

</html>
